@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1685712132789') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\f012b";
}

.icon-fenlei:before {
  content: "\f00a6";
}

.icon-guidang:before {
  content: "\e60c";
}

.icon-biaoqian:before {
  content: "\eabd";
}

.icon-mail-fill:before {
  content: "\e7d0";
}

.icon-github:before {
  content: "\e64c";
}

.icon-bilibili:before {
  content: "\e609";
}

